button {
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold;
    background-color: #288de3;
    font-size        : 25px;
    font-weight      : bold;
    border-width:     1px;
    border-color:     white;
    border-radius:    2px;
}



#calcView {
    background-color: #A2A4A8;
}

#numbers {
    font-family: "Open Sans";
    font-size: 40px;
    background-color: black;
    color: white;
}
